---
import Layout from '../layouts/Layout.astro';
---

<Layout>
		<header id="header">
		<div class="content">
			<h1>
				Hi, I am Anant. 
			</h1>
			<p class="description">
				I build scalable, high-performance applications, robust back-end architecture, and efficient API integrations.				
			</p>
			<div class="button-container">
				<a href="/projects">View Projects</a>
				<a href="/resume">Resume</a>				
			</div>
		</div>
		<!-- image goes here -->
	</header>
</Layout>
